body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.hero {
    background: linear-gradient(to right, #f5e6dc, #f3d2c1);
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 42px;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #555;
}


.about {
    background: #ffffff;
    text-align: center;
    padding: 80px 20px;
}

.about p {
    max-width: 600px;
    margin: auto;
    color: #555;
}


.projects {
    background: #f9f9f9;
    text-align: center;
    padding: 80px 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 10px;
}


.blog {
    text-align: center;
    padding: 80px 20px;
}


.contact {
    background: #333;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

   
  
